* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
a {
    font-family: Arial, sans-serif;
    color: #000;
    font-size: 5em;
    line-height: 1em;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
}
img:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}
.left, .right {
    position: absolute;
    width: 100%;
    height: 100%;
}
@media all and (orientation: landscape) {
    .left {
        left: 0;
        width: 50%;
    }
    .right {
        right: 0;
        width: 50%;
        border-left: 7px solid #000;
    }
}
@media all and (orientation: portrait) {
    .left {
        top: 0;
        height: 50%;
    }
    .right {
        bottom: 0;
        height: 50%;
        border-top: 7px solid #000;
    }
}
.centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.centered
{
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}
.left-pic {
    text-align: center;
    width: 100%;
    height: 100%;
}
.left-txt, .right-txt {
    display: inline-block;
    position: absolute;
    padding-top: 25px;
    padding-left: 25px;
}
span.line_wrap {
    position: relative;
    display: inline-block;
}
span.line {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    border-top: 7px solid #000;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 500ms cubic-bezier(1, 0, 0, 1);
}
span.line_wrap:hover span.line {
    width: 100%;
}