.container {
  margin: auto;
  max-width: 1200px;
}

.responsive-image {
  max-width: 95%;
  padding-top: 30px;
  margin: auto;
}

.cell img {
  display: block;
}


@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}
