body {
    height: 100%;
}
a {
    font-family: Arial, sans-serif;
    color: #0000ff;
    text-decoration: none;
    text-rendering: optimizeLegibility;
}
.title,
.mail {
    position: absolute;
    font-size: 3vw;
    padding-top: 20px;
    padding-left: 20px;
}
span.line_wrap {
    position: relative;
    display: inline-block;
}
span.line {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 0;
    border-top: 0.25vw solid #0000ff;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 500ms cubic-bezier(1, 0, 0, 1);
}
span.line_wrap:hover span.line {
    width: 100%;
}
@media all and (orientation: landscape) {
    .title,
    .mail {
        top: 0;
        bottom: 0;
    }
    .title {
        left: 0;
        width: 50%;
    }
    .mail {
        right: 0;
        width: 50%;
        border-left: 0.25vw solid #0000ff;
    }
}
@media all and (orientation: portrait) {
    .title,
    .mail {
        left: 0;
        right: 0;
    }
    .title {
        top: 0;
        height: 50%;
    }
    .mail {
        bottom: 0;
        height: 50%;
        border-top: 0.25vh solid #0000ff;
    }
}