---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
	font-size: 100%;
}
a {
	font-family: Helvetica, Arial, Sans-Serif;
        font-size: 40px;
        color: #000;
        text-decoration: none;
}
a:link:hover {
        -moz-animation: blink 350ms steps(1, end) infinite;
        -webkit-animation: blink 350ms steps(1, end) infinite;
}
.title {
        display: inline;
        position: fixed;
        top: 24px;
        left: 32px;
}
.mail {
        display: inline;
        position: fixed;
        top: 24px;
        right: 32px;
}
::selection {
        background: #0000ff;
	    color: #fff;
}
::-moz-selection {
        background: #0000ff;
	    color: #fff;
}
@-moz-keyframes blink {
        0% { color: #fff; }
        50% { color: #000; }
}
@-webkit-keyframes blink {
        0% { color: #fff; }
        50% { color: #000; }
}
