body {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 1200px;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}


@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
    padding: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
    padding: 10px;
  }
}
