html {
	font-size: 100%;
}
a {
	font-family: Helvetica, Arial, Sans-Serif;
        font-size: 42px;
        color: #0000ff;
        text-decoration: none;
}
.title {
        display: inline;
        position: fixed;
        top: 24px;
        left: 32px;
}
.mail {
        display: inline;
        position: fixed;
        top: 24px;
        right: 32px;
}
::selection {
        background: #0000ff;
	    color: #fff;
}
::-moz-selection {
        background: #0000ff;
	    color: #fff;
}
span.line_wrap {
        position: relative;
        display: inline-block;        
}
span.line {
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 1%;
        width: 0;
        border-top: 4px solid #0000ff;
        -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
        -moz-transition: all 500ms cubic-bezier(1, 0, 0, 1);
}
span.line_wrap:hover span.line {
        width: 100%;    
}
#bottom {
	background: #0000FF;
	bottom: 0;
	top: 0;
	left: 50%;
	position: fixed;
	width: 4px;
}
