body {
    width: 100%;
    height: 100%;
}
a {
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 50px;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.title,
.mail {
    position: absolute;
}
.nimi,
.email {
    padding-top: 25px;
    padding-left: 25px;
}
span.line_wrap {
    position: relative;
    display: inline-block;
}
span.line {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1%;
    width: 0;
    border-top: 4px solid #333;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    -moz-transition: all 500ms cubic-bezier(1, 0, 0, 1);
}
span.line_wrap:hover span.line {
    width: 100%;
}
@media all and (orientation: landscape) {
    .title,
    .mail {
        top: 0;
        bottom: 0;
    }
    .title {
        left: 0;
        width: 50%;
    }
    .mail {
        right: 0;
        width: 50%;
        border-left: 4px solid #333;
    }
}
@media all and (orientation: portrait) {
    .title,
    .mail {
        left: 0;
        right: 0;
    }
    .title {
        top: 0;
        height: 50%;
    }
    .mail {
        bottom: 0;
        height: 50%;
        border-top: 4px solid #333;
    }
}