html {
	font-size: 100%;
}
a {
	font-family: Arial, Helvetica, Sans-Serif;
        font-size: 40px;
        color: #0000ff;
        text-decoration: none;
}
.title {
        display: inline;
        position: fixed;
        top: 24px;
        left: 32px;
}
.mail {
        display: inline;
        position: fixed;
        top: 24px;
        right: 32px;
}
::selection {
        background: #0000ff;
	    color: #fff;
}
::-moz-selection {
        background: #0000ff;
	    color: #fff;
}
