<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="google-site-verification" content="gIbc0Ji3rEi5eOa5Cp6-bG9BJMGClc7rICBpAm9iRfE" />

    <title>Henri Papson</title>
    <meta name="robots" content="nosnippet">
    <meta name="author" content="Henri Papson">
    <meta name="keywords" content="Henri Papson">
    <meta name="copyright" content="Henri Papson">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <script src="snow.js"></script>
</head>

<body>
    <canvas id="snow" class="snow"></canvas>
    <div class="left">
        <div class="left-txt">
            <a>HENRI PAPSON</a>
        </div>
        <div class="left-pic">
            <span class="centerer"></span>
            <img class="centered" src="/PIC.png" />
        </div>
    </div>
    <div class="right">
        <div class="right-txt">
            <div class="email">
               <span class='line_wrap'><span class='line'></span>
                   <a href="mailto:info@henri.ee">EMAIL</a>
               </span>
            </div>
        </div>     
    </div>
    {% include analytics.html %}
</body>

</html>
